<div class="solife-login-form">
  <div class="solife-login-inner">

    <div class="social-login">
      <div class="btn-google btn-auth">
        <img src="/assets/solife-BIT.png">
      </div>
      <span class="sorry">Sorry</span>
    </div>


  </div>
</div>
